<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all-sharks</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>

        var module=angular.module("mymodule",[]);
            module.controller("myController",function($scope,$http){
                $scope.fetchAllSharks=function(){
                            var url="/fetch-sharks";
                            $http.get(url).then(done,fail);
                            function done(res){
                                // alert(JSON.stringify(res));
                                $scope.SharkArray=res.data;
                            }

                            function fail(err){
                                    alert(err.data);
                            }

                    }

                





                    $scope.doDeleteShark=function(email){
                        if(confirm("R U Sure?")==false)
                        {
                            return;
                        }
                      
                        var url="/do-delete-shark?em="+email;
                            $http.get(url).then(done,fail);
                            function done(res){
                
                              $scope.fetchAllSharks();
                            
                            }
                            function fail(err){
                                    alert(err.data);
                            }
                    
                  }

            })
    </script>



  </head>
  <body ng-app="mymodule" ng-controller="myController">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-success border">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Shark Tank</a>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- <div class="collapse navba-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <button class="btn btn-primary">LOG OUT</button>
                </li>
              </ul>
            </div> -->
          </div>
        </nav>
      </div>

      <div class="row">

        <div class="d-flex align-items-center justify-content-center">
          <input type="button" value="Fetch All Sharks" ng-click="fetchAllSharks()"/>
        </div>
      </div>

      <div class="row">
        <table class=" table border table-striped">
            <tr>
              <th>Sr No.</th>
              <th>Email </th>
              <th>Name</th>
              <th>Contact No.</th>
              <th>Name of Company</th>
              <th> Company Website </th>
              <th> Net Worth of Company</th>
              <th> Already Funded How Many companies:</th> 
              <th>Actions</th>
            </tr>

            <tr  ng-repeat="obj in  SharkArray">
                <td>{{$index+1}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.namee}}</td>
                <td>{{obj.contact}}</td>
                <td>{{obj.company}}</td>
                <td>{{obj.website}}</td>
                <td>{{obj.worth}}</td>
                <td>{{obj.funded}}</td>
                <td>
                    <input type="button" value="Delete"  ng-click="doDeleteShark(obj.email)"/>
                </td>
            </tr>
          
          </table>

      </div>
    </div>
  </body>
</html>
