<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var module=angular.module("mymodule",[]);// This line initializes an AngularJS module named "mymodule". The [] as the second argument defines that this module has no dependencies.
             // This creates a controller named "myController" within the "mymodule". Controllers are used to manage the application's data and behavior. $scope is an object that refers to the application model. 
             module.controller("myController",function($scope,$http){
                    $scope.uname="gagan";
                    $scope.doJoin=function(){
                        $scope.full=$scope.fn+" "+$scope.ln;
                    }
                    //JSON array of objects
                    // $scope.jsonArray=[
                    //     {email:"gagandeepg973@gmail.com",pwd:"123",picname:"Annotation 2022-04-24 165239.png"},
                    //     {email:"gagandeepg973@gmail.com",pwd:"123",picname:"Annotation 2022-04-24 165239.png"},
                    //     {email:"gagandeepg973@gmail.com",pwd:"123",picname:"Annotation 2022-04-24 165239.png"}
                    // ]

                    $scope.doDelete=function(email){
                        if(confirm("RU Sure?")==false)
                        {
                            return;
                        }
                        // alert(email);
                        var url="/do-delete-angular?emailid="+email;
                            $http.get(url).then(done,fail);
                            function done(res){
                                // alert(res.data);

                                $scope.fetchRecords();
                                // $scope.jsonArray=res.data;
                            }

                            function fail(err){
                                    alert(err.data);
                            }
                    }

                    $scope.fetchRecords=function(){
                            var url="/do-show";
                            $http.get(url).then(done,fail);
                            function done(res){
                                // alert(JSON.stringify(res.data));
                                $scope.jsonArray=res.data;
                            }

                            function fail(err){
                                    alert(err.data);
                            }

                    }

             });
    </script>
</head>

<body  ng-app="mymodule" ng-controller="myController" ng-init="fetchRecords()">

    {{uname}}
    <br>
    <input type="text" ng-model="uname"> 
    <hr>
    <P>
        F.Name :<input type="text" ng-model="fn">  <!--fn model/var created in $scope-->
    </P>
    <P>
        L.Name :<input type="text" ng-model="ln">  <!--fn model/varcreated in $scope-->
    </P>
    <p>
        <input type="button" value="Join" ng-click="doJoin();">
    </p>
    <p>
        Full Name:{{full}}
    </p>
    <center>
        All Records
      
        <hr>
        <table border width="600" >
            <tr> 
                <th> Sr.no</th>
                <th> Email</th>
                <th>Password</th>
                <th>Pic</th>
                <th>Picname</th>
                <th> Actions</th>
            </tr>
            <tr ng-repeat="obj in jsonArray">
                <td>{{$index+1}}</td>
                <td>{{obj.emailid}}</td>
                <td>{{obj.namee}}</td>
                <td> <img src="uploads/{{obj.picname}}" width="100" height="100" alt="no pic"></td>
                <td>{{obj.picname}}</td>
                <td> <input type="button" value="Delete" ng-click="doDelete(obj.emailid)"></td>
   
            </tr>
        </table>
    </center>
</body>
</html>