<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var module=angular.module("mymodule",[]);// This line initializes an AngularJS module named "mymodule". The [] as the second argument defines that this module has no dependencies.
             // This creates a controller named "myController" within the "mymodule". Controllers are used to manage the application's data and behavior. $scope is an object that refers to the application model. 
             module.controller("myController",function($scope){
                    $scope.uname="gagan";
                    $scope.doJoin=function(){
                        $scope.full=$scope.fn+" "+$scope.ln;
                    }

             });
    </script>
</head>

<body  ng-app="mymodule" ng-controller="myController">

    {{uname}}
    <br>
    <input type="text" ng-model="uname"> 
    <hr>
    <P>
        F.Name :<input type="text" ng-model="fn">  <!--fn model/var created in $scope-->
    </P>
    <P>
        L.Name :<input type="text" ng-model="ln">  <!--fn model/varcreated in $scope-->
    </P>
    <p>
        <input type="button" value="Join" ng-click="doJoin();">
    </p>
    <p>
        Full Name:{{full}}
    </p>
</body>
</html>